<div class="center flex-container flex flex-gap flex-mobile-column flex">
    <div class="facebook flex-even">

        <div id="fb-root"></div>
<!--        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v17.0" nonce="z6R9ftyx"></script>-->

        <div class="fb-page"
             data-href="https://www.facebook.com/abbeyhultonutd"
             data-tabs="timeline"
             data-width="360"
             data-height="756"
             data-small-header="true"
             data-adapt-container-width="false"
             data-hide-cover="false"
             data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/abbeyhultonutd" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/abbeyhultonutd">Abbey Hulton Utd  FC</a></blockquote></div>

    </div>
    <div class="twitter flex-even">

        <a class="twitter-timeline" data-width="360" data-height="756" data-dnt="true" data-chrome="noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/HultonUtd?ref_src=twsrc%5Etfw">Tweets by HultonUtd</a>
<!--        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

    </div>
</div>